<!-- build in pibe -->

<!-- <h1>{{name|custm:"/"}}</h1>
<h1>{{name|custm:"$"}}</h1>
<h1>{{name|custm}}</h1>
<h1>{{salary|currency:"USD"}}</h1>
<h1>{{salary|currency:"INR"}}</h1>
<h1>{{salary|currency:"EGB"}}</h1> -->

<!-- custum directives -->

<!-- <app-test appCustem ></app-test> -->
<!-- <h1 [appCustem]="{fgcolor:'red' , bgcolour:'black' }">ahmed</h1>
<h1 appCustem="yellow">loka</h1>
<h1 appCustem="green">moka</h1> -->
<app-header></app-header>
<div  class="alert alert-dark text-center con " >
<router-outlet></router-outlet>
</div>